@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/*--playbox-width*/
:root {
    --play-field-dimension: 6;
    --play-box-size: 128px;
    --box-font-size: 64px;

    /* THEME */
    --background-color: #5a5ad2;
    --font-color: #0b0b41;
    --primary-color: #59063c;
    --secondary-color: #e073bd;
    --active-color: #72a1de;
    --hover-color: #bb519a;
    --error-color: #ff0000;
}


*, body, html {
    font-family: 'Share Tech Mono', monospace;
    box-sizing: border-box;
}


body {
    background-color: var(--background-color);
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
}

play-field {
    width: calc(var(--play-box-size) * var(--play-field-dimension));
    height: calc(var(--play-box-size) * var(--play-field-dimension));
    display: grid;
    grid-template-columns: repeat(var(--play-field-dimension), var(--play-box-size));
    padding: 1px;
    user-select: none;
}

.lost play-field {
    opacity: 0.8;
}

play-box {
    width: var(--play-box-size);
    height: var(--play-box-size);
    background-color: var(--secondary-color);
    border: solid 4px var(--primary-color);
    border-radius: 8px;
    color: var(--primary-color);
    font-size: var(--box-font-size);

    display: grid;
    place-content: center;
    transition: background-color 200ms linear;
}

play-box:hover {
    background-color: var(--hover-color);
}

play-box.active {
    background-color: var(--active-color);
    animation: shake 0.5s;
    animation-iteration-count: 2;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-0.5px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(0.5px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-1px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(1px, 0, 0);
    }
}

play-banner {
    display: none;
}

.lost play-banner {
    /*font-family: Helvetica;*/
    font-size: 40px;
    color: red;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 50px;
    display: block;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
}

.lost play-box {
    background-color: #AAA;
}

score-bar {
     display: grid;
    grid-template-columns: 1fr min-content 1fr;
}

score {
    grid-area: 1 / 2;
    color: white;
    font-size: 64px;
}

score-to-add {
    grid-area: 1 / 3;
    color: var(--secondary-color);
    font-size: 64px;
}
